/* Poppins - sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #494e54;
}

.container{
  position: relative;
  background-color: #292c30;
  max-width: 14.375rem;
  width: 100%;
  padding: 0.625rem 1.25rem 1.25rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 7px rgba(0,0,0,0.5);
  border: 1px solid #4c5159;
  transform: scale(1.5);
}

.display{
  height: 5rem;
  width: 100%;
  margin-bottom: 0.625rem;
  font-size: 25px;
  outline: none;
  border: none;
  text-align: right;
  pointer-events: none;
  color: #dce4ee;
  background-color: #292c30;
}

.buttons{
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button{
  padding: 0.625rem 0.25rem;
  border-radius: 0.375rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: #323538;
  color: #ffffff;
  min-width: 0.75rem;
  font-family: "Popins", sans-serif;
  font-style: normal;
}

.buttons button:active{
  transform: scale(0.99);
}

.buttons button.operator{
  color: #ffffff;
  background-color: #30ad6b;
  font-size: 1rem;
}


